@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


header img{
    margin: 20px;
    margin-left: 50px;
    padding: auto;
    width:  100px;
} 

main{
    display: flex;
}

.filename{
    padding: auto;
}

.filename p{
    border: 1px solid black;
    width: 350px;
    height: 40px;
    text-align: center;
    margin-left: 70px;
    margin-top: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #AAC2F1;

}

.filename nav ul{
    border: 1px solid black;
    width: 350px;
    height: 40px;
    margin-left: 70px;
    padding: 5px;
    background-color: #EEEEEE;
}

.filename nav ul img{
    mix-blend-mode: multiply;
}

table, th, td{
    border:  1px solid grey;
    border-collapse: collapse;
    
}

table{
    margin-left:70px;
    margin-top: 3px;
}

td{
    text-align: center;
}

td:nth-child(2){
    background-color: #AAC2F1;
    
}

td:nth-child(4){
    background-color: #A1F1C6;
}

td:nth-child(6){
    background-color: #AAC2F1;
}


.colored{
    background-color: #C9C5CA;
}

button{
    border-radius: 3px;
}

.arrows{
    border: 1px solid black;
    width: 350px;
    margin-left: 70px;
    margin-top: 3px;
    text-align: center;
    padding: 5px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #F5F5F5;
    
}

.arrowss{
    border: 1px solid black;
    width: 350px;
    margin-left: 70px;
    margin-top: 1px;
    text-align: center;
    padding: 5px;
    position: relative;
    left: 420px;
    bottom: 33px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #F5F5F5;
}


.arrows img, .arrowss img{
    mix-blend-mode: multiply;
}
.summary{
    display: flex;
    padding: 5px;
    margin: 0;
}

.summary h5{
    position: relative;
    left: 100px;
    bottom: 30px;
}


.summary p{
    position: relative;
    bottom: 30px;
    left: 90px;
    color: #D1D2D2;
    font-weight: 600;

}

.summary ol{
    position: relative;
    right: 40px;
}

.summary ol li{
    padding: 2px;
}

#blank{
    color: #AAF1C6;
    font-weight: 600;
}

#diff{
    color: #AAC2F1;
    font-weight: 600;
    
}

#duplicate{
    color: #B3261E;
    font-weight: 600;
    
}

span{
    color: black;
    font-weight: 700;
}


.savefile{
    position: relative;
    left: 500px;
    bottom: 100px;
}

.btn{
    position: relative;
    left: 170px;
    bottom: 40px;
}

.btn a{
    text-decoration: none;
    
}


#btn1{
    background-color: #003DB2;
    margin: 0px;
    width:150px ;
    height: 40px;
    border-radius: 10px;
}

#btn1 a{
    color: white;
}


#btn2 a{
    color: blue;
}

#btn2{
    border: 1px solid #003DB2;
    width: 150px;
    height: 40px;
    margin-top: 15px;
    background-color: white;
    border-radius: 10px;
}

#btn3{
    border: transparent;
    width: 150px;
    height: 40px;
    margin-top: 15px;
    background-color: white;
}

#btn3 a{
    color: blue;
}

