@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");
main {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 100vh;
}
.body-right {
  min-width: 50%;
  background-color: #fafafa;

  min-height: 100vh;
}
.body-left {
  min-width: 50%;
  background-color: #ccdbf7;
  padding: 2rem;
}
.form-head {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
.free-text {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: #003db1;
}
.google-btn {
  /* border-style: none;
  border-radius: 0.3rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  line-height: 50px;
  padding: 0;
  width: 200px; */
  border: 2px solid #C9C5CA;
border-radius: 8px;
box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 52px;
font-family: "Raleway", sans-serif;
  font-weight: 700;

width: 340px;
height: 56px;
left: 3px;
top: 134px;

/* XLSweep/Typography */

background: #FFFFFF;
  
}
.google-img {
  margin-right: 10px;
  padding: 0;
  margin-bottom: -5px;
}
input,label{
    display: block;
}
