@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

* {
    margin: 0;
}

html, body{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    max-width: 100%;
    min-height: 100vh;
    max-height: 100vh;
}

.container {
    background-color: pink;
    height: 600px;
}


