<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload</title>
</head>
<body>
  <a href="{{ mark}}" download>download</a>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="file_one">
        <button type="submit">Upload 1</button>
        {% csrf_token %}
        <input type="file" name="file_two">
        <button type="submit">Upload 2</button>
        <button type="submit" name="criteria" value="highlight">highlight</button>
        <button type="submit" name="criteria" value="remove">remove</button>
        <button type="submit" name="download" value="merge">click to merge downloaded result</button>
        <button type="submit" name="compare" value="compare">Compare</button>
      </form>
      
      
         
      
         
        
    

      <!-- <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
         
      </form>
      
      {% if file_obj %}
        <h3>Succesfully uploaded : {{file_obj.title}}</h3>
        <p>{{ file_obj.file.url}}</p>
      {% endif %} -->
</body>
</html>