
/* Google Fonts Import Links */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');


* {
    margin: 0;
    padding: 0;
}

html,
body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    position: absolute;
}

/* Header Section */

header {
    width: 100%;

}
#navbar {
    background-color: #fff;
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: space-around;
    padding: 2rem 0;
}

/*dropdown menu*/

/* Dropdown Button */
.dropbtn {
    background-color:  #003DB2;
    color: white;
    padding: 6px 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color:  #003DB2;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display:inline;
    float: right;
    margin-left:50%;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: max-content ;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color:  #003DB2;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}



/*dropdow menu end*/

.butn {
    background-color: #003DB2 ;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .butnn {
    background-color: #003DB2 ;
    border: none;
    color: white;
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

/*.buton {
    background-color: #003DB2;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
  }

  

#navbar ul {
    display: flex;
    list-style-type: none;
}

#navbar li a {
    margin-right: 20px;
    margin-left: 20px;
    text-decoration: none;
    color: #000;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

#navbar li a:hover {
    color: #003DB1;
    cursor: pointer;
}

.nav-btn button {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1px;
    border-radius: 5px;
    margin-right: 15px;
    cursor: pointer;
    padding: 7px 20px;
}*/

.sign-in {
    background-color: #fff;
    color: #003DB1;
    border: 1px solid #003DB1;
}

.sign-up {
    background-color: #003DB1;
    color: #fff;
    border: 1px solid #003DB1;
}

/* Main Section */

main {
    position: relative;
    width: 100%;
}

/* First section */
.first {
    display: flex;
    padding: 3rem 4rem 0 5rem;
    background-size: cover;

}

.first img {
    width: 60%;
    height: 100vh;
}

.first-1 h1 {
    color: #001847;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 64px;
    line-height: 84px;
    padding-bottom: 20px;
}

.first-1 span {
    color: #008E39;
}

.first-1 p {
    color: #00256B;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 25px;
}

.first-1 button {
    background-color: #003DB2;
    color: #fff;
    padding: 15px 90px;
    gap: 10px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1px;
    border: none;
    border-radius: 8px;
}

/* Second Section */

.second {

    background-size: cover;
    padding: 2rem;
    align-items: center;
    color: #EBF2FF;
}

.second-section {
    display: flex;
    padding: 4rem 0;
    border: 2px solid #CCDBF7;
    border-radius: 100px 0px;
}

.second h5 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    padding-bottom: 2rem;
}

.second h5 {
    display: flex;
    flex-direction: row;
}

.second h5:before,
.second h5:after {
    content: "";
    flex: 1 ;
    border-bottom: 1px solid #AAC2F1;
    margin: auto;
    width: 40%;
    opacity: 0.8;
}

.second h5:before {
    margin-right: 30px
}

.second h5:after {
    margin-left: 30px
}

.second h6 {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    padding: 1rem 2rem 3rem;
}

.second p {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.25%;
    padding: 0 1rem 0 2rem;
    color: #EBF2FF;
}

.div {
    position: relative;
}

.div1 img {
    z-index: -1;
    
}

.img-bg {
    background-color: grey;
    color: #fff;
    opacity: 0.3;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: 10%;
}

.vertical-row {
    Float: left;
    border: 1px solid #AAC2F1;
    opacity: 0.3;
}

.extract2, .track2, .manage2 {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 0 2rem 2rem;
}

.extract2 h5,.track2 h5,.manage2 h5 {
    text-align: left;
    font-size: 28px;
}

/* Third section */

.third {
    background: linear-gradient(180deg, #A7C2F5 0%, #FFFFFF 90.68%);
    padding: 2rem;
}

.third h5 {
    color: #00256B;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding-bottom: 3rem;
}



.third1 {
    border: 2px solid #00246A;
    border-radius: 100px 0;
    display: flex;
    padding: 2rem;
}

img .monitor {
    width: 50%;
}

.heading {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #001847;
}

.third-text {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #001847;
}

table {
    border-spacing: 2rem;
}

/* Fourth section */

.fourth {
    background-color: #fff;
    padding: 2rem;
}

.fourth h5 {
    color: #00256B;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding-bottom: 2rem;
}

.fourth1 {
    border: 2px solid #087145;
    border-radius: 100px 0;    
    position: relative;
    padding: 2rem 3rem 4rem 3rem;
}

.fourth-table {
    background: #008E39;
    border-radius: 20px;
    margin: 1rem 6rem;
    width: 900px;
    height: 509.63px;
    padding: 0 3rem;
    opacity: 100;
    z-index: 3;
}

.fourth-table td {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 4%;
}

.fourth1b {
    border: 1px solid #008E39;
    position: absolute;
    width: 900px;
    height: 509.63px;
    left: 10%;
    top: 13%;
    border-radius: 20px;
    margin: 1rem 5rem;
    z-index: 1;
}

.fourth1c {
    background: #008E39;
    opacity: 0.3;
    border-radius: 20px;
    margin: 1rem 5rem;
    width: 900px;
    height: 509.63px;
    position: absolute;
    top: 10%;
    left: 8%;
    z-index: 2;
}

/* Fifth section */

.fifth
 {
    background: linear-gradient(180deg, #A7C2F5 0%, #FFFFFF 100%);
    padding: 2rem;
 }

 .fifth h5 {
    color: #001847;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding-bottom: 2rem;
 }

 .why {
    border: 2px solid #00246A;
    border-radius: 100px 0;
    padding: 2rem 3rem;
 }

 .why h5 {
    color: #00256B;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    font-family: 'Raleway', sans-serif;
    margin-left: 4rem;
    margin-right: 4rem;
    padding: 2rem 4rem;
 }

 .fifth-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
 }

 .fifth1-head {
     font-family: Raleway;
     font-size: 24px;
     font-weight: 600;
     line-height: 32px;
     letter-spacing: 0.005em;
     text-align: left;
     color: #001847;
 }

 p {
     color: #001847;
     font-family: Space Grotesk;
     font-size: 24px;
     font-weight: 400;
     line-height: 30px;
     letter-spacing: 0em;
     text-align: left;
     padding: 1rem 4rem 0 2rem;
 }

 .fifth1 hr {
     width: 80%;
     border: 1px solid #003DB1;
 }

 .fifth1 {
    display: flex;
    padding-bottom: 2rem;
    position: relative;
    margin-top: 1rem;
 }

.gdpr img {
    width: 40%;
    z-index: -1;
}
.compare img {
    width: 30%;
    /* z-index: -1; */
 }
.quality img {
    width: 40%;
    z-index: -1;
}

.blue {
    background: linear-gradient(233.16deg, #001847 -23.19%, #003DB1 121.17%);
    opacity: 0.8;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    top: -5%;
    right: 11%;
} 

.yellow {
    background: #F9C461;
    opacity: 0.8;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    top: -4%;
    left: -1%;
}

.green {
    background: #008E39;   
    opacity: 0.8;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    top: 2%;
    right: 11%;
}

 /* Sixth section */

.sixth {
    background: #AAC2F1;
    padding: 3rem 5rem;
}

.ready {
    background-color: #EBF2FF;
    text-align: center;
    padding: 2rem;
    border-radius: 8px;
}

.ready h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: #001847;
    line-height: 48px;
    padding: 2rem 12rem;
}

.ready-btn {
    background-color: #003DB2;
    color: #fff;
    padding: 15px 90px;
    gap: 10px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1px;
    border: none;
    border-radius: 8px;
 }

/* Footer section */
/* It has some styles as the header */

footer {
    position: relative;
    bottom: 0;
    background-color: #AAC2F2;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    padding: 3rem 4rem 3rem 5rem;
}

footer ul {
    display: flex;
    list-style-type: none;
    padding-left: 0;
}
.ft-links ul {
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.ft-links li a {
    text-decoration: none;
    color: #000;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin-right: 5rem;
}

.ft-links li a:hover {
    color: #003DB1;
    cursor: pointer;
}

hr {
    width: 100%;
    border: 1px solid #003DB1;
}

.footer-tc {
    /* width: 100%; */
    padding: 2rem 0 2rem 0;
    display: flex;
    justify-content: space-between;
    margin: 2rem 0 2rem 0;
}

.footer-tc p {
    font-size: 90%;
}


@media screen and (max-width:1170px){
    .first {
        flex-direction: row;
        padding: 2rem;
    }
    .first-1 {
        padding-bottom: 2rem;
    }
    .first-1 h1 {
        font-size: 40px;
        line-height: 48px;
        text-align: center;
        padding-bottom: 5px;
    }
    .first-1 p {
        font-size: 14px;
        line-height: 20px;
        text-align: center;
    }

    .first-1 button {
        padding: 2% 12%;
        align-items: center;
        margin-left:15%;

    }
    .first img {
        width: 60%;
        height: 60vh;
        
    }

    /*second*/

    .extract2 h5,.track2 h5,.manage2 h5 {
        text-align: left;
        font-size: 20px;
    }

    .extract2 h6,.track2 h6,.manage2 h6 {
        
        font-size: 58px;
    }

    .second-section {
        flex-direction: column;
    }

    .img-bg {
        background-color: grey;
        color: #fff;
        opacity: 0.3;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        position: absolute;
        top: 10%;
    }
    
    .vertical-row {
        Float: left;
        border: 1px solid #AAC2F1;
        opacity: 0.3;
    }
    
    .extract2, .track2, .manage2 {
        display: flex;
        justify-content: space-evenly;
        padding: 2rem 0 2rem 2rem;
    }
    
    .extract2 h5,.track2 h5,.manage2 h5 {
        text-align: left;
        font-size: 28px;
    }


    /*third*/

    #moni,img .monitor {
        
        display: none;
    }


    /*fourth*/

.fourth1 {
    border: 2px solid #087145;
    border-radius: 100px 0;    
    position: relative;
    padding: 2rem ;
}
    
.fourth-table {
    background: #008E39;
    border-radius: 20px;
    margin: 1rem;
    width: 100%;
    height: 509.63px;
    padding: 0;
    opacity: 100;
    z-index: 3;
}



.fourth1b {
    border: 1px solid #008E39;
    position: absolute;
    width: 100%;
    height: 509.63px;
    
    top: 13%;
    border-radius: 20px;
    margin: 1rem;
    z-index: 1;
    display: none;
}

.fourth1c {
    background: #008E39;
    opacity: 0.3;
    border-radius: 20px;
    margin: 1rem;
    width: 100%;
    height: 509.63px;
    position: absolute;
    top: 10%;
    margin-left: -5%;
    z-index: 2;
}
    
}

@media screen and (max-width:700px){

    .body{
        width: fit-content;
    }

    .first {
        flex-direction: column;
        padding: 2rem;
    }

/*.first-1 p {
        display: none;
    }*/

    .first-1 h1 {
        font-size: 25px;
        line-height: 48px;
        text-align: center;
        padding-bottom: 10px;
        
    }

    .first-1 button {
        padding: 5px 15px;
        align-items: center;
        margin-top: 10px;
        margin-bottom: -20%;
        margin-left: 30%;

    }


    
    .ready h2 {
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        font-size: 125%;
        color: #001847;
        line-height: 48px;
        padding: 2rem 12rem;
        display: none;
        
    }

     /*fifth*/

    .gdpr img {
        width: 60%;
        z-index: -1;
        display: none;
    }

    .compare img {
        width: 60%;
        /* z-index: -1; */
     }
    .quality img {
        width: 60%;
        z-index: -1;
        display: none;
    }

    .blue {
        
       opacity: 0.6;
       width: 150px;
    } 
    
    .yellow {
        
        opacity: 0.6;
    width: 150px;
    }
    
    .green {
       
        opacity: 0.6;
    width: 150px;
    }

    .side {
        width: 60px;
    }
    #side{
        
        margin-right: 0;
        padding-right: 0;
    }


}

@media screen and (max-width:528px) {
    .dropdown {
        margin-left:20%;
    }
    .first {
        flex-direction: column;
        padding: 2rem;
    }
    .first-1 {
        padding-bottom: 1rem;
    }
    
    .first-1 button {
        padding: 10px 25px;
        align-items: center;
        margin: 15% 15% 5% 25% ;
        
    }
    .first img {
        width: 100%;
        height: 50vh;
    }
    .second-section {
        flex-direction: column;
    }

    


    /*fifth*/

    .fifth1-head {
        font-family: Raleway;
        font-size: 22px;
        font-weight: 600;
        line-height: 32px;
        letter-spacing: 0.005em;
        text-align: left;
        color: #001847;
        padding-right: 0;
        margin-right: 0;
    }
   
    p {
        
        padding: 1rem 0 0 2rem;
    }

    .why h5{
        display: none;
    }

    .gdpr img {
        display: none;
    }
    .compare img {
        display: none;
     }
    .quality img {
        display: none;
    }
    
    .blue {
        
        opacity: 0.6;
       width: 150px;
    } 
    
    .yellow {
        
        opacity: 0.6;
    width: 150px;
    }
    
    .green {
       
        opacity: 0.6;
    width: 150px;
    }

    /*sixth*/
    
    .ready h2 {
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        font-size: 125%;
        color: #001847;
        line-height: 48px;
        padding: 2rem 12rem;
        margin-left: -40%;
    }

    @media screen and (max-width:500px){
        


        .first-1 button {
            background-color: #003DB2;
            color: #fff;
            padding: 3% 9%;
            width: fit-content;
            gap: 10px;
            font-family: 'Space Grotesk', sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.1px;
            border: none;
            border-radius: 8px;
            margin: 15% 15% 5% 5% ;
            margin-top: 6%;
        }

        


        .first-1 p {
            font-size: 14px;
            line-height: 15px;
            text-align: center;
            display: contents;
            width: 50px;
            margin-bottom: 80%;
            
        }


          .third {
            padding: 2rem;
           
        
        }

          .third1 {
            border: 2px solid #00246A;
            border-radius: 100px 0;
            display: flex;
            padding: 8%;
            padding-right: 0;
            margin-right: 0;
            width: 100%;
        }
        table {
            border-spacing: 0;
        }
        

        .ready-btn {
            padding: 15px 50px;
            gap: 10px;
            border-radius: 8px;
         }

          .ft-links li a {
            margin-right: 2rem;
        }
       
    
    }

    @media screen and (max-width:400px){

        .dropdown {
            margin-left:20%;
        }

        .first-1 p {
            font-size: 14px;
            line-height: 15px;
            text-align: center;
            display: contents;
            height: 50px;
            
        }

          .first-1 button {
            padding: 5px 20px;
            align-items: center;
            margin-top: 10%;
            
            
        }



         /* Second Section */

        
        .second-section {
            display: flex;
            padding: 4rem 0;
            border: 2px solid #CCDBF7;
            border-radius: 100px 0px;
            
            margin: 0;
        }
        
        .second h5 {
            font-family: 'Raleway', sans-serif;
            font-weight: 600;
            font-size: 32px;
            line-height: 40px;
            text-align: center;
            padding-bottom: 2rem;
        }
        
        
        .second h5:after{
            display: none;
        }
        .second h5:before{
            content: "";
            flex: 1 ;
            border-bottom: 1px solid #AAC2F1;
            margin: auto;
            width: 40%;
            opacity: 0.8;
            
        }
        
        .second h6 {
            font-family: 'Space Grotesk', sans-serif;
            font-weight: 400;
            font-size: 24px;
            line-height: 36px;
            text-align: center;
            padding: 1rem 2rem 3rem;
        }
        
        .second p {
    
            padding: 0 1rem 0 2rem;
            color: #EBF2FF;
            margin-left: -40%;
            display: none;
    
        }
        
        .second img{
            margin-left: -21%;
        }
        
        .img-bg {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            position: absolute;
            top: 10%;
            left: -5%;
            
        }
        
        .vertical-row {
            display: none;
        }
        
        .extract2, .track2, .manage2 {
            display: flex;
            justify-content: space-evenly;
            padding: 2rem 0 2rem 2rem;
        }
        
        .extract2 h5,.track2 h5,.manage2 h5 {
            text-align: left;
            font-size: 23px;
            padding-right: 0;
            margin-right: 0;
            margin-left: -20%;
            width: 100%;
        }
        


        
        .third {
            padding: 1.4rem;
        
        }

        .third1 {
            padding: 1rem;
            padding-right: 0;
            margin-right: 0;
            width: 100%;
        }


        .third-text {
            font-size: 24px;
            line-height: 36px;
            color: #001847;
            margin-right: 0;
            margin-left: 0;
            width: 30%;
            padding-right: 0;
        }


        table {
            border-spacing: 0;
           
        }

        .ready h2 {
        
            padding: 2rem 6rem;
            margin-left: -70%;
        }

        .ready-btn {
            padding: 10px 40px;
            gap: 10px;
            border-radius: 8px;
            margin-left: -15%;
         }

        .ft-links li a {
            margin-right: 1rem;
        }
        .footer-tc li{
            margin-right: 8%;
        }
        .footer-tc p{
            margin-right: 0;
            padding-right: 0;
            padding-left: 8%;
        }


    }

    @media screen and (max-width:320px){
        body{
            width: min-content;
        }
       
    
        footer{
            width: fit-content; 
        }

    }

}