{% extends "users/base.html" %}
{% block title %} Home Page {% endblock title%}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Welcome to XL SWEEP</h1>
        <!-- <h3>For Seamless Comparisons</h3> -->
        
        <hr class="my-4">
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="logout" role="button">Logout</a>
            <a class="btn btn-primary btn-lg" href="login" role="button">Sign in</a>
            <a class="btn btn-primary btn-lg" href="#" role="button">Contact Us</a>
        </p>
    </div>

{% endblock content %}