{% extends "users/base.html" %}
{% block title %} Home Page {% endblock title%}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Welcome to XL SWEEP</h1>
        <!-- <h3>For Seamless Comparisons</h3> -->
        
        <hr class="my-4">
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="logout" role="button">Logout</a>
            <a class="btn btn-primary btn-lg" href="login" role="button">Sign in</a>
            <a class="btn btn-primary btn-lg" href="index" role="button">Sweep Here</a>
            <a class="btn btn-primary btn-lg" href="#" role="button">Contact Us</a>
        </p>
        <br>
        <h3>What's a Sweep?</h3>
        <h4>A sweep enables you to compare Excel or CSV files. <a href="index">Try it out.</a></h4>
    </div>

{% endblock content %}