<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XL-SWEEP</title>
    <link rel="stylesheet" href="{% static 'css/unauth.css' %}">
</head>
<body>
    <!-- Header section -->
    <header id="header">
        <nav id="navbar">
            <div class="logo">
                <img src="{% static 'img/unauthimg/xl-sweeplogo.png' %}" alt="XL-sweep logo">
            </div>
            
                <div class="nav-links" id="navi">
                    <ul>
                        <li><a href="./index.html">Home</a></li>
                        <li><a href="./about.html">About</a></li>
                        <li><a href="./faq.html">FAQ</a></li>
                        <li><a href="./contact.html">Contact</a></li>
                    </ul>
                </div>
                <div class="nav-btn" id="navi">
                    <button ><a class="btn btn-primary btn-lg" href="login" role="button">Sign in</a></button>
                    <button > <a href="{% url 'Accounts-register' %}">Sign Up</a></a</button>
                </div>
        </nav>
    </header>
    <!-- Main Section -->
    <main>
        
        <!-- First Section -->
        <div class="first">
            <div class="first-1">
                <h1>Compare <span>Excel</span> Files Online</h1>
                <p>Our Excel file Comparism Software allows Users compare and highlight changes in spreadsheet files with the help of user friendly tools.</p>
                <button class="first-btn"><a href="index" role="button">Explore Now</a></button>
            </div>
            
            <img src="{% static 'img/unauthimg/hero section image vfb.png'%}" alt="">
        </div>

        <!-- Second Section -->
        <div class="second">
            <h5>What we offer</h5>
            <div class="second-section">
                <div class="second-1">
                    <div class="extract">
                        <h6>Extract</h6>
                    </div>
                    <div class="extract2 div">
                        <div class="div1">
                            <img src="{% static 'img/unauthimg/extract.png' %}" alt="">
                            <div class="img-bg"></div>
                        </div>
                        <div class="div2">
                            <h5>Easy extraction
                            of actionable insights.</h5>
                            <p>Whether PDF, Docs or any format, worry less about export.</p>
                        </div>
                        <div class="vertical-row"></div>

                    </div>
                </div>


                <div class="second-2">
                    <div class="track">
                        <h6>Track</h6>
                    </div>
                    <div class="track2 div">
                        <div class="div1">
                            <img src="{% static 'img/unauthimg/track.png' %}" alt="">
                            <div class="img-bg"></div>
                        </div>
                        <div class="div2">
                            <h5>Spot duplicates,errors & more at a glance.</h5>
                            <p>All those monotonous files that take endless hours are now streamlined on your predefined rules. </p>
                        </div>
                        <div class="vertical-row"></div>

                    </div>
                </div>

                <div class="second-3">
                    <div class="manage">
                        <h6>Manage</h6>
                    </div>
                    <div class="manage2 div">
                        <div class="div1">
                            <img src="{% static 'img/unauthimg/manage.png' %}" alt="">
                            <div class="img-bg"></div>
                        </div>
                        <div class="div2">
                        <h5>View and organize your work history.</h5>
                        <p>Manage files in quick moves and track them effortlessly.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- Third Section -->
        <div class="third">
            <h5>How it works</h5>
            <div class="third1">
                <table>
                    <tr>
                        <td class="left"><img src="{% static 'img/unauthimg/upload.png' %}" alt=""></td>
                        <td><p class="heading">Upload</p>
                        <p class="third-text">Upload the two excel files to be compared separately and select the   required sheet </p></td>
                    </tr>
                    <tr>
                        <td class="left"><img src="{% static 'img/unauthimg/criteria.png' %}" alt=""></td>
                        <td><p class="heading">Criteria</p>
                        <p class="third-text">Select the necessary criteria, which connotes the nature of comparison you are about to take</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="left"><img src="{% static 'img/unauthimg/click.png' %}" alt=""></td>
                        <td><p class="heading">Click</p>
                        <p class="third-text">Click the “COMPARE” button below and get the action to perform</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="left"><img src="{% static 'img/unauthimg/duration.png' %}" alt=""></td>
                        <td><p class="heading">Duration</p>
                        <p class="third-text">Files will be  deleted from our servers after 24 HOURS and download links would stop working</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="left"><img src="{% static 'img/unauthimg/maxfile.png' %}" alt=""></td>
                        <td><p class="heading">Maximum</p>
                        <p class="third-text">Files should not be larger than 10MB</p>
                        </td>
                    </tr>
                </table>
                <img class="monitor" src="{% static 'img/unauthimg/monitor revamp 1.png' %}" alt="">
            </div>
        </div>

        <!-- Fourth Section -->
        
       <div class="fourth">
            <h5>Advanced features</h5>
            <div class="fourth1">
                <div class="fourth1a">
                    <table class="fourth-table">
                        <tr>
                            <td class="left"><img src="{% static 'img/unauthimg/upload2.png' %}" alt=""></td>
                            <td>1. Uploading of files through Google  Drive and Dropbox.</td>
                        </tr>
                        <tr>
                            <td class="left"><img src="{% static 'img/unauthimg/highlight.png' %}" alt=""></td>
                            <td>2. Highlighting and/or removing blank cells</td>
                        </tr>
                        <tr>
                            <td class="left"><img src="{% static 'img/unauthimg/merge.png' %}" alt=""></td>
                            <td>3. Merging two files into one</td>
                        </tr>
                        <tr>
                            <td class="left"><img src="{% static 'img/unauthimg/export.png' %}" alt=""></td>
                            <td>4. Allow export of one or two Files</td>
                        </tr>
                        <tr>
                            <td class="left"><img src="{% static 'img/unauthimg/remove.png' %}" alt=""></td>
                            <td>5. Highlight and remove duplicates</td>
                        </tr>
                    </table>
                </div>
                <div class="fourth1b"></div>
                <div class="fourth1c"></div>
            </div>
        </div>

        <!-- Fifth Section -->
        
        <div class="fifth">
            <h5>Why we standout</h5>
            <div class="why">
                <h5>Our Excel spreadsheet will organize raw data into a readable format that makes it easier to extract actionable insights.
                </h5>
                <div class="fifth-flex">
                    <div class="fifth1 security">
                        <div>
                            <p class="fifth1-head">Security</p>
                            <p>All your file processing and comparison is  done in your browser. Nobody else can have access to your file.</p>
                        </div>
                        <div class="gdpr">
                            <img src="{% static 'img/unauthimg/gdpr.png' %}" alt="">
                            <div class="fifth-bg blue"></div>
                        </div>
                    </div>

                    <hr>

                    <div class="fifth1 comparism">
                        <div class="compare">
                            <img src="{% static 'img/unauthimg/compare.png' %}" alt="">
                            <div class="fifth-bg yellow"></div>
                        </div>
                        <div>
                            <p class="fifth1-head">Easy and faster Data Comparism</p>
                            <p>XL Sweep makes your file comparison easier and faster.</p>
                        </div>
                    </div>

                    <hr>
                    <div class="fifth1 comprehend">
                        <div>
                            <p class="fifth1-head">Easy to comprehend</p>
                            <p>After comparison you get to download your file in a layout that is easy to comprehend and understood.</p>
                        </div>
                        <div class="quality">
                            <img src="{% static 'img/unauthimg/data quality.png' %}" alt="">
                            <div class="fifth-bg green"><div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <!-- Sixth Section -->

        <div class="sixth">
            <div class="ready">
                <h2>Ready to Compare your spreadsheet files effortlessly?</h2>
                <button class="ready-btn"><a href="index" role="button">Get Started</a></button>
                
            </div>
        </div>
        
    </main>

    <footer id="footer">
        <div id="footer-nav">
            <div class="logo">
                <img src="{% static 'img/unauthimg/xl-sweeplogo.png' %}" alt="XL-sweep logo">
            </div>
            
            <div class="ft-links">
                    <ul>
                        <li><a href="./index.html">Home</a></li>
                        <li><a href="./about.html">About</a></li>
                        <li><a href="./faq.html">FAQ</a></li>
                        <li><a href="./contact.html">Contact</a></li>
                    </ul>
            </div>

            <hr>

            <div class="footer-tc">
                <ul>
                    <li class="tnc">Terms & Condition <span>|</span></li>
                    <li class="pp">Privacy Policy <span>|</span></li>
                </ul>

                <p>XL-SWEEP 2022. All rights reserved.</p>
            </div>
        </div>
    </footer>
    <script src="{% static 'js/unauth.js' %}"></script>
</body>
</html>