{% extends "users/base.html" %}
{% block title %} Register Page {% endblock title%}
{% block content %}
{% load static %},
    <style>
        .google-btn {
  /* border-style: none;
  border-radius: 0.3rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  line-height: 50px;
  padding: 0;
  width: 200px; */
  border: 2px solid #c9c5ca;
  border-radius: 8px;
  box-sizing: border-box;
  /* line-height: 50px;
  padding: 0;
  width: 200px; */
  

   display: flex;
  flex-direction: row; 
  justify-content: center;
  align-items: center; 
  padding: 4% 4%;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  width: 80%;
  margin: auto;
  background: #ffffff;
  cursor: pointer;
  font-size: 100%;
}
.google-img {
  margin-left: -10%;
  margin-right: 4%;
  padding: 0;
}

@media all and (max-width: 700px){
    .google-btn {
        width: fit-content;
        font-size: 80%;
    }

    .google-img {
        margin-left: -10%;
        margin-right: 4%;
        padding-left: 4%;
    }

}
  
    </style>
    <div class="form-content my-3 p-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="card shadow-lg border-0 rounded-lg mt-0 mb-5">

                        <div class="card-header justify-content-center">
                            <!--<button type="submit" class="google-btn" ><a href="{% url 'social:begin' 'google-oauth2' %}">
                                <img class="google-img" src="{% static 'img/Frame 192.svg' %}"/>Continue with
                                            Google</a>
                            </button>
                            <br>
                            <center><h6 class="or-center">OR</h6></center>-->
                            <h3 class="font-weight-light my-4 text-center">Register Here</h3>
                        </div>
                        <div class="card-body">
                            <form method="POST">
                                {% csrf_token %}
                                {% if form.errors %}
                                    <div class="alert alert-danger alert-dismissible" role="alert">
                                        <div id="form_errors">
                                            {% for key, value in form.errors.items %}
                                                <strong>{{ value }}</strong>
                                            {% endfor %}
                                        </div>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {% endif %}
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="small mb-1">First Name</label>
                                            {{ form.first_name }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="small mb-1">Last Name</label>
                                            {{ form.last_name }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="small mb-1">Username</label>
                                            {{ form.username }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="small mb-1">Email</label>
                                            {{ form.email }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="small mb-1">Password</label>
                                            {{ form.password1 }}
                                            {{ form.errors.password }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">

                                        <div class="form-group">
                                            <label class="small mb-1">Confirm Password</label>
                                            {{ form.password2 }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mt-4 mb-0">
                                    <button type="submit" class="col-md-12 btn btn-dark">Sign Up</button><br><br>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer text-center">
                            <div class="small">
                                <a href="{% url 'login' %}">Already Registered? Sign in Here</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
